#backimg1{
	background-image: url("../image/skyrim1.jpg");	
}

#mainimg2{
	background-image: url ("../image/ACU1.jpg")
}

#mainimg3{
background-image: url ("../image/")
}

#main {
	max-width: 600px;
	margin: 0 auto;
	width: 80%;
	background-color: #FFFFFF;
	padding: 15px 25px;
}

.static{
	position: static;
}