#backimg1{
	background-image: url("../image/skyrim1.jpg");
	background-attachment: fixed;
	background-position: 57% 43%;
	margin: 0;
}
#backimg2{
	background-image: url("../image/ACUnity.jpg");
	background-attachment: fixed;
	background-position: center;
	margin: 0;
}
#backimg3{
	background-image: url("../image/paydaybg.jpg");
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
}
#main {
	max-width: 600px;
	margin: 0 auto;
	width: 80%;
	background-color: #FFFFFF;
	padding: 0px 25px;
}
#nav2 {
	max-width: 600px;
	height: 40px;
	margin: 0 auto;
	width: 80%;
	background-color: lightblue;
	padding: 0px 25px;
	font-size: x-large;
}
#nav {
	max-width: 600px;
	height: 40px;
	margin: 0 auto;
	width: 80%;
	background-color: #191919;
	padding: 0px 25px;
	font-size: x-large;
	color: #FFFFFF;
}
a{
	color: #FFFFFF;
}
body .topimg2{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.static{
	position: static;
}
.font1{
	font-family:'Orbitron', sans-serif;
	margin-top: 0;
}
.font2{
	font-family: 'Roboto', sans-serif;
}