@import url(http://fonts.googleapis.com/css?family=Orbitron|Roboto:400,700,900);
html, body {
	padding: 0;
	margin: 0;
	color:black;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	background: black;
}

@-webkit-keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}
@-moz-keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}
@-ms-keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}
@-o-keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}
@keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}

a.loading {
	-webkit-animation: flash 500ms infinite;
	-moz-animation: flash 500ms infinite;
	-ms-animation: flash 500ms infinite;
	-o-animation: flash 500ms infinite;	
	animation: flash 500ms infinite;
}

header a.loading li{
	background: darkred;
}

a.current li{
	background:darkred;
}

#loading {
	width:100%;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	background:black;
	z-index:2000;
	display: none;
}

#loading #diag {
	width:30%;
	min-width: 320px;
	max-width:960px;
	margin:0 auto;
	position: absolute;
	right:0;
	left:0;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background:white;
	border: crimson solid 3px;
	border-radius: 1em;
	padding: 1em;
	text-align: center;
}

#load-container{
	position: fixed;
	height:5px;
	-webkit-transition: width 500ms ease-in-out;
	-o-transition: width 500ms ease-in-out;
	transition: width 500ms ease-in-out;
	background:white;
	z-index:1999;
	width:0%;
}
#load-progress{
	position: relative;
	background: white;
	width:100%;
	height:5px;
}
#load-progress:before{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 14px;
	right: -8px;
	width: 100%;
	top: -20px;
	max-width:200px;
	background: red;
	-webkit-box-shadow: 0 13px 10px rgb(66, 48, 48);
	-moz-box-shadow: 0 13px 10px rgb(66, 48, 48);
	box-shadow: 0 13px 10px rgb(66, 48, 48);
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

#settings {
	width:40%;
	min-width:300px;
	z-index:1999;
	position: fixed;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: solid 3px crimson;
	display: none;
}
#settings #settings-inner {
	background:white;
}

#settings #top-bar {
	float:right;
}

#settings #top-bar a {
	line-height: 1em;
	padding:0.5em;
}

#settings #pane {
	width:100%;
	clear:both;
}

#settings #pane #inner{
	padding: 1em 0.5em 3em 0.5em;
	text-align: center;
}

#settings #pane #inner .setting-content {
	margin-top:3em;
}

#shadow {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index:1999;
}

.button {
	padding:1em;
	background: white;
	border: 3px solid crimson;
	text-decoration: none !important;
	-webkit-transition: background 250ms ease, color 250ms ease;
	-o-transition: background 250ms ease, color 250ms ease;
	transition: background 250ms ease, color 250ms ease;
}

.button:hover {
	background:crimson;
	color:white;
}

.page-container{
	transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    transition: transform 1s ease, opacity 1s;
    -webkit-transition: -webkit-transform 1s ease, opacity 1s;
    -moz-transition: -moz-transform 1s ease, opacity 1s;
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

.page-container.current{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.page-container.leave {
    transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
}

.load-after {
	display:none;
}

a {
	color:crimson;
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
	color:red;
}

header {
	font-family: 'Orbitron', sans-serif;
}

header a {
	color:white;
	text-decoration: none;
}

h1.large {
	font-size: 3em;
	text-decoration: underline;
}

.large {
	font-family: 'Orbitron', sans-serif;
}

h1#title {
	text-align: center;
}

header {
	position: fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	z-index: 1001;
	box-shadow: 0 0 5px black;
}

nav ul{
	background-color:crimson;
	overflow: hidden;
	clear:both;
	color:white;
	margin: 0;
	padding:0;
	text-align:left;
	-webkit-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}

nav ul a.float-right {
	float: right;
}

nav ul li{
	display: inline-block;
	padding:20px;
	color:white;
	cursor: pointer;
	text-transform: uppercase;
}

nav ul li:hover{
	background:darkred;
}

nav ul a.current li {
	background: darkred;
}

.handle{
	width:100%;
	background:crimson;
	color:white;
	text-align:center;
	box-sizing: border-box;
	padding: 0px 10px;
	cursor: pointer;
	display: none;
	height: 61px;
}
.handle #text{
	text-align: left;
	display: inline-block;
	float:left;
	padding:20px 9px;

}
.handle #icon{
	text-align: right;
	line-height: 0em;
	display: inline-block;
	float:right;
	vertical-align: middle;
	padding:9px;
	margin-top: 1.04em;
}
.handle:hover{
	background:darkred;
}
.handle.active{
	background:darkred;
}

#container, footer {
	width: 88%;
	max-width:960px;
	background: white;
	box-shadow: 0px 0px 5px black;
	margin:0 auto;
	padding: 1em;
}

#wrapper {
	width:100%;
	margin-top: 50px;
}

#bg-wrapper {
	background: black;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index:-1;
}

.page-bg#main-page-bg {
	background: url('../image/homepage.jpg') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

.page-bg#cs-page-bg {
	background: url('../image/cs.png') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

.page-bg#about-page-bg {
	background: url('../image/about.jpg') no-repeat center center;
	background-size:cover;
}
.page-bg {
	position: fixed;
	top:0;
	left:0;
	z-index:-1;
	height:100%;
	width:100%;
}

section {
	padding:1em;
	margin: 2em auto;
	box-shadow: 0 5px 5px -5px black;
}

section.h1 {

}

.game-container {
	margin:0 auto;
	text-align: center;
}

.game-container .game{
	display:inline-block;
	background: black;
	width:250px;
	height:200px;
	text-align:center;
	margin: 0.5em 0.5em;
	position: relative;
	border: solid 3px black;
	box-shadow: 0 0 5px black;
	overflow:hidden;
	cursor:pointer;
}

.game-container a {
	text-decoration: none;
}

.game .game-bg{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.game .game-bg#GTAV {
	background: url("../image/homepage.jpg") center center;
	background-size: cover;
}

.game .game-bg#AC {
	background: url("../image/ac.jpg") center center;
	background-size: cover;
}

.game .game-bg#TF {
	background: url("../image/tf2.jpg") center center;
	background-size: cover;
}

.game .game-bg#CS {
	background: url("../image/cs.png") right center;
	background-size: cover;
}

.game .game-bg#SKY {
	background: url("../image/skyrim.jpg") right center;
	background-size: cover;
}

.game .game-bg#GMOD {
	background: url("../image/gmod.jpg") center center;
	background-size: cover;
}

.game .game-bg#PORTAL2 {
	background: url("../image/p2.jpg") center center;
	background-size: cover;
}

.game .game-bg#L4D2 {
	background: url("../image/l4d2.jpg") left center;
	background-size: cover;
}

.game .game-bg#PAYDAY {
	background: url("../image/payday.jpg") center center;
	background-size: cover;
}


.game .game-title {
	display: table;
 	height:100%;
 	opacity:0;
 	position: relative;
 	z-index:2;
 	margin: 0 auto;
 	font-size:2.1em;
 	text-shadow: 0 0 10px black;
 	color:white;
 	-webkit-transition: opacity 0.3s ease-in-out;
 	-o-transition: opacity 0.3s ease-in-out;
 	transition: opacity 0.3s ease-in-out;
 	font-weight:bolder;
 	padding:5px;
}

.game .game-title span {
	display: table-cell;
	vertical-align: middle;
}

.game:hover .game-title {
	opacity: 1;
}

.game:hover .game-bg {
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

/* Game Pages 
--------------------*/
.image-wrapper {
	text-align: center;
}

.center-image {
	width:88%;
	max-width: 1920px;
	box-shadow: 0 5px 5px -5px black;
}

.warn {
	width:80%;
	background: rgba(236, 151, 39, 0.6);
	padding: 1em;
	text-align: center;
	border: solid 3px rgba(236, 151, 39, 1);
	margin: 0 auto;
}

.warn h1 {
	margin: 0;
}

.warn p{
	margin-bottom: 0;
}


/* CSGO Page 
--------------------*/

footer {
	text-align:center;
	margin: 0 auto;
	padding: 0.5em 1em;
}

footer #foot-contain {
	font-size:0.7em;
}

.mobile-show {
	display:none;
}

.clearfix:after{
	visibility: hidden;
	clear:both;
	height:0;
	display:block;
	content:".";
}

/* About Page
-------------------*/

.person {
	width:100%;
	margin-bottom: 4em;
	position: relative;
}

.person img {
	float:left;
	width:20%;
	position: absolute;
	top:50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	max-width: 300px;
	min-width: 100px;
}

.person h1 {
	margin-top: 10px;
}

.person .content {
	float: right;
	width:70%;
	text-align:left;
}

.person:nth-child(odd) img {
	float:right;
	right:0;
}

.person:nth-child(odd) .content {
	float:none;
	text-align: right;
}


/* Help Page
--------------------*/

#help main{
	padding:1em;
}

.help-container {
	width:100%;
}

.help-container section {
	padding: 0;
	border: 2px crimson solid;
}

.help-container #right {
	float:right;
	width:48%;
}

.help-container #left{
	width:48%;
	float:left;
}

.help-container .title-wrap {
	background:red;
}

.help-container h2{
	margin: 0;
	background: red;
}


.form-container #right{
	float:right;
	width:48%;
	text-align: center;
}

.form-container #left {
	float:left;
	width:48%;
}

.form-container #left input {
	width:80%;
	padding:0.5em;
	font-size:1.1em;
	border: 3px solid crimson;
	border-radius: 0.5em;
	outline: 0;
}

.form-container #right textarea, .form-container #left select {
	width:80%;
	padding:0.5em;
	border: 3px solid crimson;
	border-radius: 0.5em;
	outline: 0;
}

.form-container select{
	display: block;
}

.form-container #right textarea{
	text-align: left;
}


@media screen and (max-width:700px), screen and (max-height:500px) {
	#settings {
		width:100%;
		position: absolute;
		top:10%;
		left:0;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		border: solid 3px crimson;
	}
}

@media screen and (max-width: 700px) {
	/* Change css rules to ones that apply for a mobile device */
	#container, footer {
		width:100%;
		margin: 0;
		padding: 1em 0;
	}

	.page-bg {
		display: none;
	}

	.mobile-hide {
		display:none;
	}

	.mobile-show {
		display:block;
	}

	.page-container{
		min-width:0;
	}

	nav ul{
		max-height:0px;
	}
	.showing{
		max-height:15em;
	}
	.handle{
		display:block;
	}
	nav ul li{
		width:100%;
		box-sizing: border-box;
		text-align:center;
	}

	nav ul a.float-right {
		clear: both;
		float:none !important;
	}

	header {
		position: relative;
	}

	#wrapper {
		margin:0;
	}

	.person {
		width:100%;
		margin: 0.5em auto;
		position: relative;
	}

	.person img {
		float: none;
		clear:both;
		display:block;
		text-align: center;
		margin:0 auto;
		width:20%;
		position: static;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	.person h1 {
		margin-top: 10px;
	}

	.person .content {
		float: none;
		width:80%;
		text-align:center;
		clear: both;
		margin:0 auto;
	}

	.person:nth-child(odd) img {
		float:none;
	}

	.person:nth-child(odd) .content {
		float:none;
		text-align: center;
	}

	.person {
		border-bottom: dotted 2px crimson;
	}

	.person:last-child{
		border-bottom: none;
	}
}