/*
Harry Felton CSS, Usage Under MIT License
Clayton, Brynn... you must make your own :D
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,700);
html, body {
	padding: 0;
	margin: 0;
	color:black;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	background: black;
}

@-webkit-keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}
@-moz-keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}
@-ms-keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}
@-o-keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}
@keyframes flash {
	0%{opacity: 0.5;}
	50%{opacity: 1;}
	100%{opacity: 0.5;}
}

@-webkit-keyframes warning{
	0%{
		box-shadow: 0 0 10px red;
	}
	50%{
		box-shadow: 0 0 23px red;
	}
	100%{
		box-shadow: 0 0 10px red;
	}
}
@-moz-keyframes warning{
	0%{
		box-shadow: 0 0 10px red;
	}
	50%{
		box-shadow: 0 0 23px red;
	}
	100%{
		box-shadow: 0 0 10px red;
	}
}
@-ms-keyframes warning{
	0%{
		box-shadow: 0 0 10px red;
	}
	50%{
		box-shadow: 0 0 23px red;
	}
	100%{
		box-shadow: 0 0 10px red;
	}
}
@-o-keyframes warning{
	0%{
		box-shadow: 0 0 10px red;
	}
	50%{
		box-shadow: 0 0 23px red;
	}
	100%{
		box-shadow: 0 0 10px red;
	}
}
@keyframes warning{
	0%{
		box-shadow: 0 0 10px red;
	}
	50%{
		box-shadow: 0 0 23px red;
	}
	100%{
		box-shadow: 0 0 10px red;
	}
}

a.loading {
	-webkit-animation: flash 500ms infinite;
	-moz-animation: flash 500ms infinite;
	-ms-animation: flash 500ms infinite;
	-o-animation: flash 500ms infinite;	
	animation: flash 500ms infinite;
}

header li a.loading{
	background:#B90000;
}

/* Pre-Load CSS
-------------------*/
#loading {
	width:100%;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	background:black;
	z-index:2000;
	display: none;
}

#loading #diag {
	width:30%;
	min-width: 320px;
	max-width:960px;
	margin:0 auto;
	position: absolute;
	right:0;
	left:0;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background:white;
	border: #FF003F solid 3px;
	border-radius: 1em;
	padding: 1em;
	text-align: center;
}

/* Loading Progress Bar
-------------------*/
#load-container{
	position: fixed;
	height:5px;
	-webkit-transition: width 500ms ease-in-out;
	-o-transition: width 500ms ease-in-out;
	transition: width 500ms ease-in-out;
	background:white;
	z-index:1999;
	width:0%;
}
#load-progress{
	position: relative;
	background: white;
	width:100%;
	height:5px;
}
#load-progress:before{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 14px;
	right: -8px;
	width: 100%;
	top: -20px;
	max-width:200px;
	background: red;
	-webkit-box-shadow: 0 13px 10px rgb(66, 48, 48);
	-moz-box-shadow: 0 13px 10px rgb(66, 48, 48);
	box-shadow: 0 13px 10px rgb(66, 48, 48);
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

/* Settings Screen
-------------------*/
#settings {
	width:40%;
	min-width:300px;
	z-index:1999;
	position: fixed;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: solid 3px #FF003F;
	display: none;
}
#settings #settings-inner {
	background:white;
}

#settings #top-bar {
	float:right;
}

#settings #top-bar a {
	line-height: 1em;
	padding:0.5em;
}

#settings #pane {
	width:100%;
	clear:both;
}

#settings #pane #inner{
	padding: 1em 0.5em 1em 0.5em;
	text-align: center;
}

#settings #pane #inner .setting-content {
	padding: 1em 0;
}

#settings #pane #inner .setting-content.first {
	margin-bottom:1em;
}

#settings #pane #inner .setting-content .button {
	display:initial;
}

.button:hover {
	color:white !important;
}


/* Overlay Shadow
-------------------*/
#shadow {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index:1999;
}

.button {
	padding:1em;
	background: white;
	border: 3px solid #FF003F;
	text-decoration: none !important;
	-webkit-transition: background 250ms ease, color 250ms ease;
	-o-transition: background 250ms ease, color 250ms ease;
	transition: background 250ms ease, color 250ms ease;
	cursor:pointer;
	color: #FF003F;
	display:block;
	outline: none;
}

.button:hover {
	background:#FF003F;
	color:white;
}

/* Page Dynamics And Structure
-------------------*/
.page-container{
	transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    transition: transform 1s ease, opacity 1s;
    -webkit-transition: -webkit-transform 1s ease, opacity 1s;
    -moz-transition: -moz-transform 1s ease, opacity 1s;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
}

.page-container.current{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 1;
}

.page-container.leave {
    transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
}

#container, footer {
	width: 88%;
	max-width:960px;
	background: white;
	box-shadow: 0px 0px 5px black;
	margin:0 auto;
	padding: 1em;
	z-index: 2;
}

.page-container.two #container, .page-container.two footer {
	width:69%;
	margin:0;
	padding: 1em;
}

.page-container.two #container-right {
	width:29%;
	position: fixed;
	right:0;
	top:2em;
	bottom:5em;
	overflow-y: auto;
	word-wrap: break-word;
}

.page-container.two #container-right #contents {
	background: white;
	border: 3px solid crimson;
	border-radius: 1em;
	overflow: hidden;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.page-container.two #container-right ul {
	padding: 1em;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

.page-container.two #container-right h1 {
	margin: 0 0 0.5em 0;
}

.header h1{
	-webkit-transition: color 500ms ease-in-out, text-decoration 500ms ease-in-out;
	-o-transition: color 500ms ease-in-out, text-decoration 500ms ease-in-out;
	transition: color 500ms ease-in-out, text-decoration 500ms ease-in-out;
}

.page-container.two .header.fix {
	width:69%;
}

.page-container:not(.two) .header.fix {
	width: 88%;
	max-width: 960px;
}

.header.fix h1 {
	position: fixed;
	top:0;
	width: inherit;
	max-width: inherit;
	background:-moz-linear-gradient(white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
	background:-ms-linear-gradient(white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
	background:-webkit-linear-gradient(white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
	background:-o-linear-gradient(white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
	color: crimson;
	padding: 0.5em 0;
	text-decoration: none;
}

#wrapper, #container-right {
	width:100%;
	margin-top: 56px;
}

#bg-wrapper {
	background: black;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index:-1;
}

.page-bg#main-page-bg {
	background: url('../image/homepage.jpg') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
}

.page-bg#gta-page-bg {
	background: url('../image/gta.jpg') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

.page-bg#help-page-bg {
	background: url('../image/help.png') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
}

.page-bg#cs-page-bg {
	background: url('../image/cs.png') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

.page-bg#about-page-bg {
	background: url('../image/about.jpg') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
}

.page-bg#mail-page-bg {
	background: url('../image/mail.jpg') no-repeat center center;
	background-size:cover;
	display: block !important;
}

.page-bg#bf4-page-bg {
	background: url('../image/bf4bg.png') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
}

.page-bg#hag-page-bg {
	background: url('../image/hag_bg.jpg') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

.page-bg#lic-page-bg {
	background: url("../image/lic-bg.jpg") no-repeat center center;
	background-size: cover;
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

.page-bg {
	position: fixed;
	top:0;
	left:0;
	z-index:-1;
	height:100%;
	width:100%;
}

footer {
	text-align:center;
}

footer #foot-contain {
	font-size:0.7em;
}

/* Extra Conditions
-------------------*/
body.JS .load-after {
	/* Show something after Ajax Load has completed, hide before transition */
	display:none;
}

a {
	color:#FF003F;
	text-decoration: none;
}

a.anim {
	position: relative;
}

a.anim:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #FF003F;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a.anim:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

a:not(.anim):active, a:not(.anim):hover {
	color:red;
	text-decoration: underline;
}

h1.large {
	font-size: 4em;
}

.large {
	font-family: 'Orbitron', sans-serif;
}

h1#title {
	text-align: center;
}

/* Header
-------------------*/
header {
	position: fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	z-index: 1001;
	box-shadow: 0 0 5px black;
	font-family: 'Orbitron', sans-serif;
}

header a {
	color:white;
	text-decoration: none;
}

/* Header Nav
-------------------*/
nav ul{
	background-color:#FF003F;
	overflow: hidden;
	color:white;
	margin: 0;
	padding:0;
	text-align:left;
	-webkit-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}

nav ul li.float-right {
	/*position: absolute;
	right:0;
	top:0;
	*/
	float: right;
	clear: both;
}

body:not(.JS) .js-req {
	display: none;
}

nav ul li{
	display: inline-block;
	color:white;
	cursor: pointer;
	text-transform: uppercase;
}

nav ul li a {
	padding:20px;
	display: block;
	text-decoration: none !important;
	color:white !important;
}

nav ul li:hover{
	background:#B90000;
}

nav ul li a.current {
	background: #B90000;
}

/* Sub Header Nav 
-------------------*/
body:not(.JS) nav ul li.has-drop:hover > ul{
	display: block;
}

nav ul li.has-drop > ul {
	position: absolute;
	display: none;
}

nav ul li.has-drop > ul > li {
	display: block;
	text-transform: none;
	border-bottom: solid 1px rgb(225, 0, 0);
}

nav ul li.has-drop > ul > li > a.loading {
	background-color: #9D0027;
}

nav ul li.has-drop > ul > li:last-child {
	border-bottom: none;
}

nav ul li.has-drop > ul > li:hover{
	background-color: #9D0027;
}

nav ul li.has-drop > ul {
	max-height: 60vh;
	overflow: auto;
	box-shadow: 5px 5px 50px 1px black;
 	z-index: -1;
}

/* Mobile Nav Handle
-------------------*/
.handle{
	width:100%;
	background:#FF003F;
	color:white;
	text-align:center;
	box-sizing: border-box;
	padding: 0px 10px;
	cursor: pointer;
	display: none;
	height: 61px;
}
.handle #text{
	text-align: left;
	display: inline-block;
	float:left;
	padding:20px 9px;

}
.handle #icon{
	text-align: right;
	line-height: 0em;
	display: inline-block;
	float:right;
	vertical-align: middle;
	padding:9px;
	margin-top: 1.04em;
}
.handle:hover,
.handle.active,
body:not(.JS) .handle{
	background: #B90000;
}

/* Page Contents
-------------------*/
section {
	padding:1em 2em;
	margin: 2em auto;
	box-shadow: 0 5px 5px -5px black;
}

.info-box {
	max-width: 80%;
	position: relative;
	left:50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	padding: 1em;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
}

.info-box h1, .info-box p {
	margin: 0;
}

.info-box.warn {
	background: rgba(236, 151, 39, 0.6);
	border: solid 3px rgba(236, 151, 39, 1);
}

.info-box.error {
	background: rgba(231, 8, 4, 0.34);
	border: solid 3px rgba(231, 8, 4, 1);
}

.info-box.confirm {
	background: rgba(17, 255, 5, 0.34);
	border: solid 3px rgba(17, 255, 5, 1);
}

.info-box > #close {
	position: absolute;
	top:0;
	right:0;
	line-height: 1em;
	width: 1em;
	opacity: 0.5;
	cursor: pointer;
}

.info-box > #close:hover {
	opacity: 1;
}

/* index.php
-------------------*/
.game-container {
	margin:0 auto;
	text-align: center;
}

.game-container .game{
	display:inline-block;
	background: black;
	width:250px;
	height:200px;
	text-align:center;
	margin: 0.5em 0.5em;
	position: relative;
	border: solid 3px black;
	box-shadow: 0 0 5px black;
	cursor:pointer;
}

.game-container a {
	text-decoration: none;
}

.game .game-bg{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.game .game-bg#GTAV {
	background: url("../image/gta.jpg") center center;
	background-size: cover;
}

.game .game-bg#AC {
	background: url("../image/ac.jpg") center center;
	background-size: cover;
}

.game .game-bg#TF {
	background: url("../image/tf2.jpg") center center;
	background-size: cover;
}

.game .game-bg#CS {
	background: url("../image/cs.png") right center;
	background-size: cover;
}

.game .game-bg#SKY {
	background: url("../image/skyrim.jpg") right center;
	background-size: cover;
}

.game .game-bg#GMOD {
	background: url("../image/gmod.jpg") center center;
	background-size: cover;
}

.game .game-bg#PORTAL2 {
	background: url("../image/p2.jpg") center center;
	background-size: cover;
}

.game .game-bg#L4D2 {
	background: url("../image/l4d2.jpg") left center;
	background-size: cover;
}

.game .game-bg#PAYDAY {
	background: url("../image/payday.jpg") center center;
	background-size: cover;
}

.game .game-bg#BF4 {
	background: url("../image/bf4.jpg") center center;
	background-size: cover;
}

.game .game-bg#HAG {
	background: url("../image/hag_thumb.jpg") right center;
	background-size: cover;
}

.game .game-title {
	display: table;
 	height:100%;
 	opacity:0;
 	position: relative;
 	z-index:2;
 	margin: 0 auto;
 	font-size:2.1em;
 	text-shadow: 0 0 10px black;
 	color:white;
 	-webkit-transition: opacity 0.3s ease-in-out;
 	-o-transition: opacity 0.3s ease-in-out;
 	transition: opacity 0.3s ease-in-out;
 	font-weight:bolder;
 	padding:5px;
}

.game .game-title span {
	display: table-cell;
	vertical-align: middle;
}

.game:hover .game-title {
	opacity: 1;
}

.game:hover .game-bg {
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

.game a {
	display: block;
	position: absolute;
	bottom:0;
	top:0;
	width:100%;
}

/* Game Sub-Pages 
--------------------*/
.image-wrapper {
	text-align: center;
}

.center-image {
	width:88%;
	max-width: 1920px;
	box-shadow: 0 10px 10px -7px black;
	border: solid 3px black;
}

.mobile-show {
	display:none;
}

.clearfix:after{
	visibility: hidden;
	clear:both;
	height:0;
	display:block;
	content:".";
}

/* About Page
-------------------*/

.person {
	width:100%;
	margin-bottom: 4em;
	position: relative;
}

.person img {
	float:left;
	width:20%;
	position: absolute;
	top:50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	max-width: 300px;
	min-width: 100px;
}

.person h1 {
	margin-top: 10px;
}

.person .content {
	float: right;
	width:70%;
	text-align:left;
}

.person:nth-child(odd) img {
	float:right;
	right:0;
}

.person:nth-child(odd) .content {
	float:none;
	text-align: right;
}


/* Help Page
--------------------*/

#help #help-inner{
	padding:0 1em;
}

.help-container {
	width:100%;
}

.help-container section {
	padding: 0;
	border: 2px #FF003F solid;
	border-radius: 0.7em;
	overflow: hidden;
}

.help-container #right {
	float:right;
	width:48%;
}

.help-container #left{
	width:48%;
	float:left;
}

.help-container .title-wrap {
	background:red;
	padding: 0.5em;
}

.help-container h2{
	margin: 0;
	background: red;
	color:white;
}


/* HELP CONTACT */

/* JavaScript Content
-------------------*/

body.JS #to-top {
	/* This button will fade in when scrolled to a certain point */
	position: fixed;
	bottom:0;
	right:0;
	padding: 2em;
	z-index:1;
	display:block;
}

#to-top:after {
	left: -110% !important;
}

body:not(.JS) #to-top {
	display:none;
}

body.JS #to-top:before{
	background: url("../image/down_arrow.svg") no-repeat center center;
	background-size: contain;
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	top:40%;
	left:50%;
	-webkit-transform: translate(-50%, -50%) rotate(180deg);
	-moz-transform: translate(-50%, -50%) rotate(180deg);
	-ms-transform: translate(-50%, -50%) rotate(180deg);
	-o-transform: translate(-50%, -50%) rotate(180deg);
	transform: translate(-50%, -50%) rotate(180deg);
	-webkit-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

body.JS #to-top:hover:before {
	-webkit-transform: translate(-50%, -50%) rotate(-180deg);
	-moz-transform: translate(-50%, -50%) rotate(-180deg);
	-ms-transform: translate(-50%, -50%) rotate(-180deg);
	-o-transform: translate(-50%, -50%) rotate(-180deg);
	transform: translate(-50%, -50%) rotate(-180deg);
}

#screen-warn {
	display: none;
}

.tipped:after {
	content:attr(aria-label);
	padding: 0.5em;
	font-size: 12px;
	position: absolute;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-decoration: none;
	text-align: center;
	z-index: 1999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 250ms ease-in-out, visibility 250ms;
	-o-transition: opacity 250ms ease-in-out, visibility 250ms;
	transition: opacity 250ms ease-in-out, visibility 250ms;

	white-space: pre;
	box-shadow: 0 0 5px 1px black;
	border: solid 2px crimson;
}

.tipped:hover:after {
	opacity: 1;
	visibility: visible;	
	-webkit-transition-delay: 250ms;
	-o-transition-delay: 250ms;
	transition-delay: 250ms;
}

.rel-contain {
	position: relative;
}

/*
	.tipped.tipped-se - span entire
	.tipped.tipped-sm - span most (80%)
	.tipped.tipped-mid - center using left and right
	.tipped.tipped-left - stick to left
	.tipped.tipped-right - stick to right
	.tipped.tipped-bottom - stick to bottom
	.tipped.tipped-top - stick to top

	If .tipped-se or .tipped-sm has a class .force then instead of a max width a width will be set

	Below are the presets for the aforementioned rules
*/

.tipped.tipped-se:after {
	max-width: 100%;
}

.tipped.tipped-se.force:after {
	width: 100%;
}

.tipped.tipped-sm:after {
	max-width: 80%;
}

.tipped.tipped-sm.force:after {
	width: 80%;
}

.tipped.tipped-mid:after {
	left: 50%;
	right: auto;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.tipped.tipped-left:after {
	left:0;
	right:auto;
}

.tipped.tipped-right:after {
	right:0;
	left:auto;
}

.tipped.tipped-bottom:after {
	top: 103%;
}

.tipped.tipped-top:after {
	bottom:103%;
}

.tipped.tipped-vmid:after {
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*

Code Deprecated 
.tipped:after {
	background: rgba(0, 0, 0, 0.5);
	content:"";
	width:100%;
	height: 2em;
}

.tooltip-diag {
	position: absolute;
	background-color: crimson;
	color: white;
	padding: 0.5em;
	z-index: 1999;
	border-radius: 0.5em;
	display: none;
	opacity: 0.8;
}

.tooltip-diag {
	font-size: 0.8em;
}

.tooltip-diag.center-diag {
	left: 50%;
	max-width: 80%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.game .tooltip-diag {
	right: -50%;
	font-size: 1em;
}

.setting-content .tooltip-diag {
	bottom: -1.5em;
}

*/

/*
	CONTACT FORM CSS
*/


#contact-container {
	z-index:1999;
	position: fixed;
	top:50%;
	left:50%;
	width:500px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background:white;
	border: 3px solid crimson;
	border-radius: 5px;
	overflow: hidden;
}

#contact-container input {
	display: block;
	margin: 0.5em auto;
	padding:0.5em;
	font-size: 1em;
	border-radius: 5px;
	border: solid 2px crimson;
	outline: 0;
	box-shadow: 0 0 0 red;
	-webkit-transition: box-shadow 250ms ease-in-out;
	-o-transition: box-shadow 250ms ease-in-out;
	transition: box-shadow 250ms ease-in-out;
}

#contact-container .warning {
	box-shadow: 0 0 10px red;
	animation: warning 1s infinite;
	-webkit-animation: warning 1s infinite;
	-o-animation: warning 1s infinite;
	-webkit-animation-delay: 200ms;
	-o-animation-delay: 200ms;
	animation-delay: 200ms;
}

#contact-container textarea {
	width:80%;
	max-width: 80%;
	max-height:200px;
	height:200px;
}

#contact-container form {
	margin: 0;
	padding: 0;
}

#contact-container h1 {
	margin-top: 10px;
}

#contact-container h3 {
	margin: 0;
	padding: 0;
}

#controls {
	margin-top: 1em;
}

#contact-container #contact-inner {
	position: relative;
}

#contact-container .step {
	display: inline-block;
	position: absolute;
	top:0;
	left:0;
	width:468px;
	padding:1em;
	text-align: center;
}

#contact-container .step .step-form #controls {
	margin: 0 auto;
	text-align: center;
}

#contact-container .step .step-form #controls button {
	margin:0 auto;
}

/* Mobile Code
-------------------*/

@media screen and ( min-width:1400px ) {
	/* Large Screens */
	.page-container.two #container, .page-container.two footer {
		margin:0 0 0 2em;
		max-width: 1160px;
	}

	.page-container:not(.two) .header {
		max-width: 960px;
	}

	.page-container.two .header {
		max-width: 1160px;
	}
}

@media screen and (max-width:770px), screen and (max-height:500px) {
	
	/* Tablets */

	#settings {
		width:100%;
		position: absolute;
		top:10%;
		left:0;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		border: solid 3px #FF003F;
	}

	.page-container.two #container-right {
		position: absolute;
		max-height: none;
	}

	#screen-warn{
		display: block;
	}

	.info-box {
		margin: 0px !important;
	}
	.tipped:after {
		display: none !important;
	}
}

@media screen and (max-width: 770px) {
	/* Change css rules to ones that apply for a mobile device */

	#to-top{
		display:none !important;
	}
	
	.help-container #left, .help-container #right{
		float:none;
		width:80%;
		margin: 0 auto;
	}

	.header.fix {
		position: static !important;
		width: 100%;
		max-width: none;
	}

	.header.fix h1 {
		position: static !important;
		width:100%;
		color:black;
		padding: 0;
		box-shadow: none;
		text-decoration: underline !important;
		background: white !important;
	}

	.header-after {
		margin-top: 0 !important;
	}

	#container, footer {
		width:100% !important;
		margin: 0;
		padding: 1em 0;
	}

	#container-right {
		display:none;
	}

	.page-bg {
		display: none !important;
		background: none;
	}

	.mobile-hide {
		display:none !important;
	}

	.mobile-show {
		display:block;
	}

	.page-container{
		min-width:0;
	}

	body.JS nav ul{
		max-height:0px;
	}
	body.JS .showing{
		max-height:25em;
	}
	.handle{
		display:block;
	}
	nav ul li{
		width:100%;
		box-sizing: border-box;
		text-align:center;
	}

	nav ul a.float-right {
		clear: both;
		float:none !important;
	}

	header {
		position: relative;
	}

	#wrapper {
		margin:0;
	}

	.person {
		width:100%;
		margin: 0.5em auto;
		position: relative;
	}

	.person img {
		float: none;
		clear:both;
		display:block;
		text-align: center;
		margin:0 auto;
		width:20%;
		position: static;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	.person h1 {
		margin-top: 10px;
	}

	.person .content {
		float: none;
		width:80%;
		text-align:center;
		clear: both;
		margin:0 auto;
	}

	.person:nth-child(odd) img {
		float:none;
	}

	.person:nth-child(odd) .content {
		float:none;
		text-align: center;
	}

	.person {
		border-bottom: dotted 2px #FF003F;
	}

	.person:last-child{
		border-bottom: none;
	}
}