@import url(http://fonts.googleapis.com/css?family=Orbitron|Roboto:400,700,900);
html, body {
	padding: 0;
	margin: 0;
	color:black;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

#loading {
	width:100%;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	background:black;
	z-index:2000;
	display: none;
}

#loading #diag {
	width:30%;
	min-width: 320px;
	max-width:960px;
	margin:0 auto;
	position: absolute;
	right:0;
	left:0;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background:white;
	border: crimson solid 3px;
	border-radius: 1em;
	padding: 1em;
	text-align: center;
}

.page-container{
	transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    transition: transform 1s ease, opacity 1s;
    -webkit-transition: -webkit-transform 1s ease, opacity 1s;
    -moz-transition: -moz-transform 1s ease, opacity 1s;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
}

.page-container.current{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 1;
}

.page-container.leave {
    transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    opacity: 0;
}

a {
	color:crimson;
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
	color:red;
}

header {
	font-family: 'Orbitron', sans-serif;
}

header a {
	color:white;
	text-decoration: none;
}

h1.large {
	font-size: 3em;
	text-decoration: underline;
}

.large {
	font-family: 'Orbitron', sans-serif;
}

h1#title {
	text-align: center;
}

header {
	position: fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	z-index: 1001;
	box-shadow: 0 0 5px black;
}

nav ul{
	background-color:crimson;
	overflow: hidden;
	color:white;
	margin: 0;
	padding:0;
	text-align:left;
	-webkit-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}

nav ul li{
	display: inline-block;
	padding:20px;
	color:white;
	cursor: pointer;
}

nav ul li:hover{
	background:darkred;
}

#container, footer {
	width: 88%;
	max-width:960px;
	background: white;
	box-shadow: 0px 0px 5px black;
	margin:0 auto;
	padding: 1em;
}

#wrapper {
	width:100%;
	margin-top: 50px;
}

.page-bg#main-page-bg {
	background: url('../image/homepage.jpg') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(5px);
}

.page-bg#cs-page-bg {
	background: url('../image/cs.png') no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(5px);
}

.page-bg {
	position: fixed;
	top:0;
	left:0;
	z-index:-1;
	height:100%;
	width:100%;
}

section {
	padding:1em;
}

section.h1 {

}

.game-container {
	margin:0 auto;
	text-align: center;
}

.game-container .game{
	display:inline-block;
	background: black;
	width:250px;
	height:200px;
	text-align:center;
	margin: 0.5em 0.5em;
	position: relative;
	border: solid 3px black;
	box-shadow: 0 0 5px black;
	overflow:hidden;
	cursor:pointer;
}

.game-container a {
	text-decoration: none;
}

.game .game-bg{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.game .game-bg#GTAV {
	background: url("../image/homepage.jpg") center center;
	background-size: cover;
}

.game .game-bg#AC {
	background: url("../image/ac.jpg") center center;
	background-size: cover;
}

.game .game-bg#TF {
	background: url("../image/tf2.jpg") center center;
	background-size: cover;
}

.game .game-bg#CS {
	background: url("../image/cs.png") right center;
	background-size: cover;
}

.game .game-bg#SKY {
	background: url("../image/skyrim.jpg") right center;
	background-size: cover;
}

.game .game-bg#GMOD {
	background: url("../image/gmod.jpg") center center;
	background-size: cover;
}

.game .game-bg#PORTAL2 {
	background: url("../image/p2.jpg") center center;
	background-size: cover;
}

.game .game-bg#L4D2 {
	background: url("../image/l4d2.jpg") left center;
	background-size: cover;
}

.game .game-bg#PAYDAY {
	background: url("../image/payday.jpg") center center;
	background-size: cover;
}


.game .game-title {
	display: table;
 	height:100%;
 	opacity:0;
 	position: relative;
 	z-index:2;
 	margin: 0 auto;
 	font-size:2.1em;
 	text-shadow: 0 0 10px black;
 	color:white;
 	-webkit-transition: opacity 0.3s ease-in-out;
 	-o-transition: opacity 0.3s ease-in-out;
 	transition: opacity 0.3s ease-in-out;
 	font-weight:bolder;
 	padding:5px;
}

.game .game-title span {
	display: table-cell;
	vertical-align: middle;
}

.game:hover .game-title {
	opacity: 1;
}

.game:hover .game-bg {
	-webkit-filter: blur(5px);
}

/* Game Pages 
--------------------*/
.image-wrapper {
	text-align: center;
}

.center-image {
	width:88%;
	box-shadow: 0 5px 5px -5px black;
}


/* CSGO Page 
--------------------*/



footer {
	text-align:center;
	margin: 0 auto;
	padding: 0.5em 1em;
}

footer #foot-contain {
	font-size:0.7em;
}
