.slide {
	position: absolute;
	left:0;
	width:100%;
	height: 100%;
	top:0;
	background-size: cover;
	background-position: center;
}

.hexslide {
	position: relative;
	width:60vw;
	height:35vw;
	z-index:1;
}

.hexslide .slide-btn span {
	position: absolute;
	z-index: 2;
	top:50%;
	-webkit-transform: translateY(-50%);
	color:white;
	display: block;
	padding:1em;
	background:yellow;
	-webkit-transition: padding 0.2s ease-in-out;
	-o-transition: padding 0.2s ease-in-out;
	transition: padding 0.2s ease-in-out;
	cursor: pointer;
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(0);
	-ms-transform: translateY(-50%) translateX(0);
	-o-transform: translateY(-50%) translateX(0);
	transform: translateY(-50%) translateX(0);
	-webkit-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.hexslide .right span {
	right:-3px;
}

.hexslide .left span {
	left:-3px;
}

.hexslide .left span:hover {
	padding-left:25px;
}

.hexslide .right span:hover {
	padding-right: 25px;
}

.hexslide .slide-btn.hide.right span {
	opacity: 0;
	-webkit-transform: translateY(-50%) translateX(30%);
	-ms-transform: translateY(-50%) translateX(30%);
	-o-transform: translateY(-50%) translateX(30%);
	transform: translateY(-50%) translateX(30%);
}

.hexslide .slide-btn.hide.left span {
	opacity: 0;
	-webkit-transform: translateY(-50%) translateX(-30%);
	-ms-transform: translateY(-50%) translateX(-30%);
	-o-transform: translateY(-50%) translateX(-30%);
	transform: translateY(-50%) translateX(-30%);
}

@media screen and ( max-width:770px ) {
	.hexslide{
		height: 55vw;
		width: 90vw;
	}
}